/* ===============
    MAIN BODY
=================*/

/* Background */
body {
    margin: 0;
    font-family: "brandon-grotesque", sans-serif, ;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

/* Header Section */
.container-header {
    color: #73C7C7;
    background-color: white;
}

/* Header Navigation Links */
.nav-link {
    color: #73C7C7;
    font-weight: bold;
}

.nav-link:hover {
    color: black;
}

.nav-item .nav-link.active {
    padding: 10px 20px;
    font-weight: bold;
    background-color: #73C7C7;
}

.nav-link:focus {
    background-color: white;
    color: black;
}


/* ===============
    HERO BANNER
=================*/

.container-cover {
    background-color: #73C7C7;
    padding-top: 0;
    margin-top: 0;
}

/* Hero Banner Title "made fun!" */
.madeFun {
    color: #F4F8D3;
    text-decoration: underline;
}

/* Hero Banner Button */
.cover-button {
background-color: #F7CFD8;
border-color: #F7CFD8;
font-weight: bold;
}

.cover-button:hover {
    background-color: #A6F1E0;
    border-color:  #A6F1E0;
    color: #333;
}

.cover-button:focus {
    background-color: #A6F1E0;
    color: #333;
}

.profile-picture {
    border-radius: 5%;
}

/* ===============
   'WHAT YOU'LL 
   GET' SECTION
=================*/

/*  Button Icons */
.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
    background-color: #F7CFD8;
  }
  
/* ===============
'ABOUT ME' SECTION
=================*/

.about {
    background-color:#F7CFD8;
    display: flex;
    align-items: center;  /* Vertically aligns the child elements in the middle */
}

/* Spans defining text */
.lead span {
    color: #333;
    font-weight: bold;
}

/* Paragraph */
.lead {
    text-align: justify;
}

.family-picture {
    border-radius: 5%;
}

 /* ===============
    SCREEN SIZE
    ADJUSTMENTS
=================*/

/* For scaling medium screens */
@media (min-width: 768px) and (max-width: 991px) {
 .col-md-5 {  /* Specific targeting for .lead inside .col-md-6 */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

 .col-md-5 .lead {
    text-align: start; 
  }
}

/* For scaling small screens */
@media (max-width: 767px) {
  
  .fs-4 {
    font-size: 1rem !important;
   }

   /* Centering the Hero Banner section */
   .container-cover {
    flex-direction: column; 
    text-align: center; 
    padding: 2rem 1rem; 
  }

  .image-container {
    width: 80%; 
    margin-bottom: 2rem; 
  }

  .cover-button {
    width: 100%; 
  }

   .col-md-6 {  /* Centering the text content */
    width: 100%;
    text-align: center; 
    padding: 0 1rem;
  }

  .display-1 { /* Scaling the text content size */
    font-size: 2.5rem; 
  }

    .col-md-6 .lead { /* Specific targeting for .lead inside .col-md-6 */
        text-align: center; 
    }

  /* Centering the 'What You'll Get!' section */
  #featured-3 .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #featured-3 .feature {
    width: 100%; 
    margin-bottom: 20px;
  }

  #featured-3 .feature-icon svg {
    width: 30px; 
    height: 30px;
  }

  #featured-3 .fs-3 {
    font-size: 1.5rem; 
  }

.col-md-5 .lead {  /* Specific targeting for .lead inside .col-md-6 */
    text-align: center; 
    height: auto;
  }

/* Centering the 'About Me' section */
.about .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;  
}
  .about .col-md-5, 
  .about .col-lg-6, 
  .about .col-xl-6 {
    text-align: center;
    margin-bottom: 20px;
  }
  .about .col-sm-10 {
    width: 100%;
  }
  .about .family-picture {
    width: 80%; 
    max-width: 400px; 
  }
}